@use 'variables';
@use 'reset';

body {
   margin: 0;
   min-height: 100vh;
   display: flex;
}

.project-panel {
   width: 20%;
   background-color: variables.$white;
   flex-shrink: 0;
   max-width: 300px;
}

.map-view {
   flex-grow: 1;
   background-color: #f7f7f7;
   max-height: 100vh;
   overflow: scroll;
   user-select: none;

   &:focus {
      outline: none;
   }

   &--movement-mode {
      cursor: grab;
   }

   &--movement-mode#{&}--active {
      cursor: grabbing;
   }
}

.attr-panel {
   width: 20%;
   background-color: variables.$white;
   flex-shrink: 0;
   max-width: 300px;
}
