body {
   margin: 0;
   min-height: 100vh;
   display: flex;
}

.sidebar {
   width: 20%;
   background-color: #e1e1e1;
   flex-shrink: 0;
   max-width: 300px;
}

.map-view {
   flex-grow: 1;
   background-color: aliceblue;
   max-height: 100vh;
   overflow: scroll;
   user-select: none;

   &:focus {
      outline: none;
   }

   &--movement-mode {
      cursor: grab;
   }

   &--movement-mode#{&}--active {
      cursor: grabbing;
   }
}

canvas {
   display: block;
}

.inspector {
   width: 20%;
   background-color: #e1e1e1;
   flex-shrink: 0;
   max-width: 300px;
}
